$color-fire: linear-gradient(45deg, #f04444 30%, #ee9768 90%);
$color-ice: linear-gradient(45deg, #2196f3 30%, #21cbf3 90%);

.Container {
  padding: 0 5em;
  min-height: calc(100vh - 3em - 2.5em);
  margin-bottom: 50px;
}

.Heading {
  margin: 1em 0;
  font-size: 3em;
  background: $color-fire;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.Houses {
  width: 100%;
  column-width: 250px;
  column-gap: 1em;
  text-align: center;
  margin: 0 auto;
}

.House {
  background-image: radial-gradient(73% 147%, #ffffff 59%, #ebdedb 100%),
    radial-gradient(
      91% 146%,
      rgba(255, 255, 255, 0.5) 47%,
      rgba(0, 0, 0, 0.5) 100%
    );
  background-blend-mode: screen;
  display: inline-block;
  width: 250px;
  padding: 1em;
  margin: 0.5em;
  box-shadow: 0px 1px 5px #aaa;
  border-radius: 5px;
  cursor: pointer;

  h3 {
    text-decoration: underline;
    font-size: 1.5em;
    margin: 0.75em;
  }

  & > div {
    text-align: left;
    padding: 5px 10px;
    text-align: justify;
    text-justify: auto;
  }

  &:hover {
    box-shadow: 0px 3px 8px #888;
  }
}

.Head {
  font-weight: bold;
}

.PlayedBy {
  color: #2196f3;
}

.ReadMore {
  color: #f04444;
}
